/* TopBar */
.top_container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #e5e7eb;
  box-sizing: border-box;
  .logo {
    margin-right: 20px;
    img {
      width: 90px;
    }
  }
  .top_toolbar {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    gap: 100px;
  }
  .util_container {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    gap: 20px;
    .login_info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .login_name {
        font-weight: 600;
        color: #333;
      }
      .login_position {
        font-size: 0.85rem;
        color: #666;
      }
    }
  }
  .sub_categories {
    display: flex;
    gap: 40px;
    position: relative;
    .sub_category_tab {
      text-decoration: none;
      color: #666;
      font-weight: 400;
      padding: 10px 0;
      position: relative;
      transition: color 0.3s ease;
      &:hover {
        color: #ff7f3e;
      }
      &.active {
        color: #333;
        font-weight: 600;
      }
    }
  }
}

/* SideBar */
.sidebar_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: start;
  align-items: start;
  border-right: 1px solid #ffd7c2;
  background: #f9f9f9;
  .sidebar_menu {
    width: 200px;
    padding: 0;
    margin: 0;
    .sidebar_menu_item {
      padding: 8px 20px;
      position: relative;
      .sidebar_menu_link {
        display: block;
        text-decoration: none;
        color: #666;
        font-weight: 400;
        padding: 10px 15px;
        border-radius: 8px;
        transition: all 0.3s ease;
        &:hover {
          color: #ff7f3e;
        }
        &.active {
          color: #ff7f3e;
          font-weight: 600;
          position: relative;
          transition: all 0.3s ease;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            right: -20px;
            width: 4px;
            height: 100%;
            background: #ff7f3e;
            box-shadow: -2px 0px 10px 2px rgba(0, 56, 255, 0.08);
            border-radius: 50px;
          }
        }
      }
    }
  }
  .sidebar_bottom {
    margin-top: auto;
    width: 100%;
    border-top: 1px solid #cac4d0;
    .sidebar_logout {
      display: flex;
      align-items: center;
      justify-items: flex-start;
      justify-content: flex-start;
      gap: 55px;
      color: #666;
      font-weight: 500;
      padding: 15px;
      width: 100%;
      text-align: left;
      &:hover {
        font-weight: 600;
      }
    }
  }
}

/* MainContainer */
.main_content {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
}
