@charset "utf-8";
/* 2012-05-07  CSS  2.1 CENTUMSOFT */

/* html5 호환 설정*/
* {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  outline: 0;
  background: transparent;
  font-size: 100%;
}
article,
aside,
canvas,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
ins {
  color: #000;
  text-decoration: none;
}
mark {
  color: #000;
  font-style: italic;
  font-weight: 700;
}
del,
s {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
}
th,
td {
}

/*body{font:13px/1.231 "돋움",arial,helvetica,clean,sans-serif; }*/
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 150%;
}
select,
input,
textarea,
button {
}
table {
  font-size: inherit;
  font: 100%;
}
pre,
code,
kbd,
samp,
tt {
  font-size: 108%;
  line-height: 100%;
}

address {
  font-style: normal;
  display: inline;
}

/* 글자 속성 */
a {
  text-decoration: none;
}
a:active {
}
a:focus {
}

/* LIST 요소 기본 */
li {
  list-style: none;
}

/* Form 요소들 기본 */
fieldset {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
legend {
  display: none;
}

input::-ms-clear {
  display: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

input[type="tel"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="text"],
input[type="password"],
input.text,
input.password {
  /* border: 1px solid #e5e7eb;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  color: #333;
  font-weight: 500;
}

input::placeholder {
  color: #9ca3af;
  font-weight: 200;
}

input[type="radio"],
input[type="checkbox"] {
  border: none;
  padding: 0;
  margin: 0;
}

input[type="file"],
input.file {
  border: 0;
  padding: 0;
}
input[type="file"],
input.file {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0;
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"],
input.radio,
input.checkbox {
  border: 0px !important;
  vertical-align: middle;
  padding: 0px;
  margin: 1px;
  line-height: 1em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #9ca3af;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 10px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 9.4L0 5.4L1.4 4L4 6.6L10.6 0L12 1.4L4 9.4Z' fill='white'/%3E%3C/svg%3E")
    no-repeat;
}

input[type="checkbox"]:checked + label {
  background: #4fc787;
  transition: all 0.2s;
}

/* input.disabled {
  background-color: #9ca3af;
  color: #fff;
}
textarea {
  border: 1px solid #e5e7eb;
  padding: 2px 5px;
}

select {
  border: 1px solid #e5e7eb;
  vertical-align: middle;
} */

/* 이미지 요소 기본 */
img {
  border: 0px;
  vertical-align: middle;
}
